* {
  box-sizing: border-box;
  font-family: Sora, sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #f46c63;
  padding: 20px 34px;
  position: fixed;
  width: 100%;
}

.logo {
  height: 36px;
}

.logo-container {
  height: 40px;
}

.spacer {
  height: 50px;
}

.header-image {
  width: 100%;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.header-title {
  font-size: 50px;
  margin: 20px 0;
}

.subtitle {
  margin-top: 0;
}

.content a,
button {
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 28px;
  width: 320px;
  background-color: #f46c63;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

#free-time-button {
  width: 360px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
}

.popup-container {
  height: 0;
  transition: height 0.25s;
  overflow: hidden;
  margin-top: -20px
}

.popup-container.show {
  height: 400px;
}

.popup {
  margin-top: 20px;
  padding: 20px;
  width: 320px;
  border: 10px solid #f46c63;
  border-radius: 50px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
}

.popup p {
  margin: 0;
}

.popup .bold {
  font-weight: bold;
  margin-top: 20px;
}

.popup .bold.first {
  margin-top: 0;
}

.popup .normal {
  font-weight: normal;
}

.popup .final {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  border-top: 1px solid lightgray;
}

.footer-logo {
  width: 50px;
}

.footer a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
